*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #ffee10;
}

body{
    height: 100vh;
    background: url(image/back.jpg) no-repeat center center/ cover;
    display: flex;
    flex-direction: column;
    flex: 1; 
    justify-content: space-evenly;
}

.header{
    margin: 0 20vw;
    font-size: 3em;
    text-align: center;
    justify-self: center;
}

.firstContainer {
    display: flex;
    background-color: rgba(68,68,68,.7);
    border-radius: 1em;
    padding: 1rem 0;
    margin: 2rem 10rem;
    justify-content: center;
    align-items: center;
  }

.firstContainer div img{
    height: auto;
    width: 15vw;
    border-radius: 50%;
}

.firstContainer div{
    display: flex;
    flex-direction: column;
    flex: 1; 
    padding: 1rem 0;
    align-items: center;
}


.secondContainer {
   
    background-color: rgba(68,68,68,.7);
    border-radius: 5px;
    padding: 1rem 0;
    margin: 5rem 20rem;
    text-align: center;
  }

.firstContainer div img:hover{
    color: #ffee10;
    box-shadow: 0 0 15px #ffee10;
    text-shadow: 0 0 15px #ffee10;
}